
.form_page{
    justify-content: center;
}

.authetication_form{
  width: 30%;
  padding: 32px 48px;
  background-color: #fff;
  margin-top: 32px;
}

.authetication_form h2 {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.form_inputs div{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_inputs label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}


.form_text_input {
  height: 35px;
  padding: 0 8px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
  border: 1px solid #999;
  border-radius: 4px;
  box-sizing: border-box;
}

.form_text_input:focus {
  border: 1px solid #555;
}

.form_submit{
     height: 40px;
     width: 100%;
     margin: 25px 0 10px;
}
.form_error{
  color: red;
  font-size: 14px;
  margin-top: 5px;
}